#postgres
POSTGRES_USER=                                      # database_username
POSTGRES_PASSWORD=                                  # database_password
POSTGRES_DB=                                        # database_name
POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256      # database_encryptation. If commented, it'll use MD5. Strongly recommended don't comment it.

#kong environment
KONG_DATABASE=                                  # database_adapter
KONG_PG_HOST=                                   # database_host
KONG_PG_USER=                                   # database_username
KONG_PG_PASSWORD=                               # database_password
KONG_PG_DATABASE=                               # database_name
KONG_PG_PORT=                                   # database_port
KONG_PROXY_ACCESS_LOG=/dev/stdout
KONG_ADMIN_ACCESS_LOG=/dev/stdout
KONG_PROXY_ERROR_LOG=/dev/stderr
KONG_ADMIN_ERROR_LOG=/dev/stderr
KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
KONG_PROXY_LISTEN=0.0.0.0:8000, 0.0.0.0:8443 ssl
KONG_PLUGINS=bundled, session, oidc                                             # custom_plugins_load
KONG_LOG_LEVEL=info
KONG_NGINX_HTTP_INCLUDE=/etc/kong/my-server.kong.conf                           # custom_nginx_config_path
KONG_PG_SSL=on                                                                  # database_certificate_on/off
KONG_PG_SSL_VERIFY=on                                                           # database_certificate_verify_on/off
KONG_LUA_SSL_TRUSTED_CERTIFICATE=/etc/kong/certif/client_bundle.pem             # database_bundle_certificate_path

#konga
#DB_ADAPTER=                                                                     # database_adapter
#DB_HOST=                                                                        # database_host
#DB_PORT=                                                                        # database_port                                   
#DB_DATABASE=                                                                    # database_name
#DB_USER=                                                                        # database_username
#DB_PASSWORD=                                                                    # database_password
#DB_SSL=true                                                                     # database_certificate_true/false
NODE_ENV=development                                                            # kong_environment_production/development
#NODE_PG_FORCE_NATIVE=1                                                          # necessário para utilizar criptografica scram-sha-256 com postgres
#NODE_TLS_REJECT_UNAUTHORIZED=0                                                  # necessário para utilizar autenticação via LDAP
#KONGA_AUTH_PROVIDER=ldap                                                       # LDAP_autentication
#KONGA_LDAP_HOST=                                                               # LDAP_host
#KONGA_LDAP_BIND_DN=uid=sssd.bind,ou=services,dc=environment,dc=int
#KONGA_LDAP_BIND_PASSWORD=
#KONGA_LDAP_GROUP_ATTRS=cn
#KONGA_LDAP_ATTR_USERNAME=uid
#KONGA_LDAP_ATTR_FIRSTNAME=givenName
#KONGA_LDAP_ATTR_LASTNAME=sn
#KONGA_LDAP_USER_SEARCH_FILTER=(|(uid={{username}})(sAMAccountName={{username}}))
#KONGA_LDAP_GROUP_SEARCH_FILTER=(|(memberUid={{uid}})(memberUid={{uidNumber}})(sAMAccountName={{uid}}))
#KONGA_LDAP_USER_ATTRS=uid,uidNumber,givenName,sn
#KONGA_LDAP_USER_SEARCH_BASE=dc=environment,dc=int
#KONGA_LDAP_GROUP_SEARCH_BASE=dc=environment,dc=int
#KONGA_LDAP_ATTR_EMAIL=uid
#KONGA_ADMIN_GROUP_REG=^(devopsgr|developergr)$$